<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!--[if lt IE 9]>
            <script src="{{ url_for('static', filename='js/vendor/html5-3.6-respond-1.1.0.min.js') }}"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">GPSHeatMaps</a>
        </div>
        <div class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <img src="{{ url_for('static', filename='img/test.png') }}?nocache={{timestamp}}">
      </div>
      <div class="row">
        <form method="POST" action="/test">
          <div class="form-group">
            <label for="points">Points</label>
            <textarea id="points" name="points" class="form-control">{{ points|default('[[(50, 30)], [(120, 30)], [(30, 100), (50, 120), (120, 120), (150, 100)]]') }}</textarea>
          </div>
          <div class="form-group">
            <label for="spot_radius">Spot Radius</label>
            <input type="text" id="spot_radius" name="spot_radius" value="{{ spot_radius|default('20') }}" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="dimming">Dimming</label>
            <input type="text" id="dimming" name="dimming" value="{{ dimming|default('75') }}" class="form-control" class="form-control">
          </div>
            <button type="submit" class="btn btn-default">Generate Image</button>
          </div>
        </form>
      </div>
      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.11.0.min.js' ) }}"><\/script>')</script>

        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
