{% extends "base.html" %}

{% block title %}Test{% endblock %}

{% block content %}
      <div class="row">
        <img src="{{ url_for('static', filename='img/test.png') }}?nocache={{timestamp}}">
      </div>
      <div class="row">
        <form method="POST" action="/test">
          <div class="form-group">
            <label for="points">Points</label>
            <textarea id="points" name="points" class="form-control">{{ points|default('[[(50, 30)], [(120, 30)], [(30, 100), (50, 120), (120, 120), (150, 100)]]') }}</textarea>
          </div>
          <div class="form-group">
            <label for="spot_radius">Spot Radius</label>
            <input type="text" id="spot_radius" name="spot_radius" value="{{ spot_radius|default('20') }}" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="dimming">Dimming</label>
            <input type="text" id="dimming" name="dimming" value="{{ dimming|default('75') }}" class="form-control" class="form-control"/>
          </div>
            <button type="submit" class="btn btn-default">Generate Image</button>
        </form>
      </div>
{% endblock %}
